#map {
    width: 100%;
    height: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 }
 #back{
   text-align: center;
   padding:10px;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
 }
#fuel_page, #service_page, #maintanence_page{
  display:none;
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  background-color:white;
}
.popup{
  margin: 35% 25% 25% 25%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
}
#fuel_log, #newfuelentry, #service_log, #newserviceentry, #maintanence_log, #newmaintanenceentry{
  padding:10px;
  height: 40px;
  width:200px;
}
#fuel_button, #service_button{
  width:120px;
  height:90px;
}
.maintanencebutton, .livetrackingbutton{
  grid-column: 1/span 2;
}
#maintanence_button{
  width:210px;
  height:60px;
}
#livetracking_button{
  width:325px;
  height:40px;
}
h1{
  margin-top: 15%;
  text-align: center;
}

#buttons{
  margin-top: 20%;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 30px;
}


.sidenav1,.sidenav2,.sidenav3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 140px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 70px 0px 20px 0px;
}

.sidenav1 input,.sidenav2 input, .sidenav3 input {
  margin: 10px 0px 0px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav1 .closebtn, .sidenav2 .closebtn, .sidenav3 .closebtn  {
  position: absolute;
  top: 10px;
  font-size: 24px;
}

.pointer1, .pointer2, .pointer3{
  position: absolute;
  top: 10px;
  padding: 2.5px 5px 2.5px 5px;
  margin-left: 20px;
  color: white;
  background-color: black;
}
